<!-- Electricity Cost Info -->
<div class="col-md-6">
  <div class="card h-100">
    <div class="card-header">
      <h5 class="mb-0"><%= t('print_pricing.sections.electricity') %></h5>
    </div>
    <div class="card-body">
      <%= render InfoSectionComponent.new(
        title: t('print_pricing.sections.electricity_auto_calculated'),
        items: [
          t('print_pricing.sections.electricity_power_consumption'),
          t('print_pricing.sections.electricity_print_time'),
          t('print_pricing.sections.electricity_energy_cost',
            cost: "#{currency_symbol(current_user.default_currency)}#{current_user.default_energy_cost_per_kwh}/kWh")
        ],
        link_text: t('print_pricing.sections.electricity_settings_link_html',
                      link: t('print_pricing.sections.profile_settings')).html_safe,
        link_url: user_profile_path
      ) %>
    </div>
  </div>
</div>

<!-- Machine & Upkeep Info -->
<div class="col-md-6">
  <div class="card h-100">
    <div class="card-header">
      <h5 class="mb-0"><%= t('print_pricing.sections.machine_upkeep') %></h5>
    </div>
    <div class="card-body">
      <%= render InfoSectionComponent.new(
        title: t('print_pricing.sections.machine_auto_calculated'),
        items: [
          t('print_pricing.sections.machine_cost_usage'),
          t('print_pricing.sections.machine_return_period'),
          t('print_pricing.sections.machine_repair_factor')
        ],
        link_text: t('print_pricing.sections.machine_printer_config_html',
                      link: t('print_pricing.sections.add_edit_printer')).html_safe,
        link_url: new_printer_path,
        link_options: { data: { confirm: t('print_pricing.sections.unsaved_progress_warning') } }
      ) %>
    </div>
  </div>
</div>
