<%= render Forms::FormSectionComponent.new(
  title: t("invoices.fields.company_info"),
  card_class: "card border-info",
  header_class: "card-header bg-info bg-opacity-10"
) do %>
  <p class="mb-2">
    <%= t("invoices.company_info_card_text") %>
  </p>
  <%= render "invoices/partials/display/company", user: current_user %>
  <%= link_to t("invoices.edit_company_info"), user_profile_path, class: "btn btn-info mt-3" %>
<% end %>