<% if invoice.persisted? %>
  <%= render Forms::FieldComponent.new(
    form: form,
    attribute: :invoice_number,
    type: :text,
    label: t("invoices.fields.invoice_number"),
    hint: t("invoices.fields.invoice_number_help"),
    wrapper_class: "col-md-4",
    options: { readonly: true, class: "readonly-field-container" }
  ) %>
<% else %>
  <div class="col-md-4">
    <%= form.label :invoice_number, t("invoices.fields.invoice_number"), class: "form-label" %>
    <%= render "invoices/partials/display/number", form: form %>
    <div class="form-text"><%= t("invoices.fields.invoice_number_help") %></div>
  </div>
<% end %>
