<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0"><%= @title %></h5>
  </div>
  <div class="card-body">
    <canvas
      data-controller="chart"
      data-chart-type-value="<%= @chart_type %>"
      data-chart-data-value="<%= chart_data_json %>"
      style="max-height: <%= @height %>;"
    ></canvas>
  </div>
</div>
