<%= render Shared::PageHeaderComponent.new(
  title: t('clients.edit.title'),
  subtitle: t('clients.edit.subtitle', name: @client.name)
) %>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <%= render "form", client: @client %>
    </div>
</div>
