<%= render Shared::PageHeaderComponent.new(
  title: t('clients.new.title'),
  subtitle: t('clients.new.subtitle')
) %>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <%= render "form", client: @client %>
    </div>
</div>
