<div class="row">
  <% if invoice.payment_details.present? %>
    <div class="col-md-6 mb-4">
      <h6><%= t('invoices.fields.payment_details') %></h6>
      <p class="invoice-preformatted-text"><%= invoice.payment_details %></p>
    </div>
  <% end %>
  <% if invoice.notes.present? %>
    <div class="col-md-6 mb-4">
      <h6><%= t('invoices.fields.notes') %></h6>
      <p class="invoice-preformatted-text"><%= invoice.notes %></p>
    </div>
  <% end %>
</div>
