# examples:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_cleanup_with_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day

production:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12

  update_printer_profiles:
    class: UpdatePrinterProfilesJob
    queue: default
    schedule: every Sunday at 3am

  translate_articles:
    class: TranslateArticlesJob
    queue: default
    schedule: every day at 2am

  refresh_sitemap:
    command: "system('bin/rails sitemap:refresh:no_ping')"
    schedule: every day at 4am
