<%= render Shared::PageHeaderComponent.new(
  title: t('printers.index.title'),
  subtitle: t('printers.index.subtitle'),
  action_text: t('printers.index.add_new'),
  action_url: new_printer_path
) %>

<% if @printers.any? %>
<div class="row g-4">
    <% @printers.each do |printer| %>
        <%= render Cards::PrinterCardComponent.new(printer: printer, current_user: current_user) %>
    <% end %>
</div>
<% else %>
    <%= render Shared::EmptyStateComponent.new(
      title: t('printers.index.empty_state.title'),
      description: t('printers.index.empty_state.description'),
      action_text: t('printers.index.empty_state.add_first'),
      action_url: new_printer_path
    ) %>
<% end %>