<div class="printer-show-container">
  <%= printer_header(@printer) %>

  <div class="printer-content">
    <%= printer_specs(@printer) %>
    <%= printer_financial_status(@printer) %>
    <%= render 'printers/partials/print_jobs_section', printer: @printer %>
  </div>
</div>