<div class="row mb-3">
    <div class="col-md-6 mb-3 mb-md-0">
        <%= render "invoices/partials/header/company", invoice: invoice, user: user %>
    </div>
    <div class="col-md-6 text-md-end">
        <%= render "invoices/partials/header/metadata", invoice: invoice %>
    </div>
</div>